/* debugging code */
/* * {
  outline: 1px solid green;
} */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  color: #f9faf8;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header-logo {
  flex-basis: 50%;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: small;
}

li {
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero-left {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: flex-start;
  justify-content: space-between;
}

.hero-main {
  display: flex;
  align-items: flex-end;
}

.hero-main > h1 {
  font-weight: bold;
  font-size: 48px;
}

.hero-secondary {
  display: flex;
  font-weight: 100;
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 5%;
}

.hero-button {
  display: flex;
}

/* This section cascades through to the CTA button as well */
button {
  border-radius: 8px;
  width: 100px;
  color: #f9faf8;
  background-color: #3882f6;
  padding: 5px;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  background-color: gray;
  height: 250px;
}
/* end hero config */

/* Start info config */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9faf8;
}

.info-header-text {
  font-size: 37px;
  color: #1f2937;
  padding: 5%;
}

.info-cards {
  display: flex;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 20%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75px;
}

.card-image {
  margin: 10px;
  padding: 40px;
  border: 2px solid #3882f6;
  border-radius: 10%;
}

.card-text {
  display: flex;
  text-align: center;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 10%;
  /* padding-right: 10%;
  padding-bottom: 10%; */
}

.quote-text {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.quote-attribution {
  font-weight: 700;
  align-self: flex-end;
}
/* End info comfig */

/* start cta config */
#cta {
  display: flex;
  margin: 10%;
  padding: 5%;
  background-color: #3882f6;
  justify-content: space-between;
}

#cta-text {
  display: flex;
  flex-direction: column;
  color: #e5e7eb;
  background-color: #3882f6;
}
.cta-large-text {
  font-size: 24px;
  font-weight: 700;
  display: flex;
}

.cta-button {
  background-color: #3882f6;
}
.cta-button > button {
  border: solid #e5e7eb;
}
/* end cta config */

/* start footer config*/
footer {
  display: flex;
  color: #e5e7eb;
  background-color: #1f2937;
  justify-content: center;
  align-content: center;
  padding: 20px;
}
/* end footer config*/
