/* debugging code */

* {
  outline: 1px solid green;
}

body {
}

.header {
  display: flex;
  background-color: #1f2937;
}

.header-logo {
}

ul {
}

li {
}

a {
}

.hero-container {
}

.hero-main {
}

.hero-secondary {
}

.hero-button {
}

button {
}

.hero-image-container {
}

.info {
}

.info-header-text {
}

.info-cards {
}

.card {
}

.card-image {
}

.card-text {
}

.quote {
}

.quote-text {
}

.quote-attribution {
}

.cta {
}

.cta-large-text {
}

.cta-subtext {
}

.cta-button {
}

footer {
}
