/* debugging code */

* {
  outline: 1px solid green;
}

body {
}

.header {
  display: flex;
  background-color: #1f2937;
  flex-direction: column;
}

.topline {
  display: flex;
  justify-content: space-around;
}

.header-logo {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #f9faf8;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: small;
}

li {
  margin: 10px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero-container {
}

.hero-main {
}

.hero-secondary {
}

.hero-button {
}

button {
}

.hero-image-container {
}

.info {
}

.info-header-text {
}

.info-cards {
}

.card {
}

.card-image {
}

.card-text {
}

.quote {
}

.quote-text {
}

.quote-attribution {
}

.cta {
}

.cta-large-text {
}

.cta-subtext {
}

.cta-button {
}

footer {
}
